/* Write your CSS here */

.bg-container {
  background-color: #ace0f9;
  padding: 50px;
}
.input-element {
  height: 30px;
  width: 300px;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search-icon {
  height: 30px;
}
.main-heading {
  text-align: center;
  font-family: 'Bree Serif';
  color: #1e293b;
  font-weight: bold;
  font-size: 30px;
}
.tabs-container {
  max-width: 300px;
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.project-list-container {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 50px;
  list-style-type: none;
}

@media screen and (min-width: 992px) {
  .project-list-container {
    margin-bottom: 150px;
  }
}
